parameters:
    ignoreErrors:
        -
            message: "#^Property Codedor\\\\BelongsToMany\\\\Forms\\\\Components\\\\BelongsToManyInput\\:\\:\\$view \\(view-string\\) does not accept default value of type string.$#"
            path: src/Forms/Components/BelongsToManyInput.php
        -
            message: "#^Call to an undefined method Filament\\\\Forms\\\\Contracts\\\\HasForms\\:\\:dispatch\\(\\).$#"
            path: src/Forms/Components/BelongsToManyInput.php


